h1 {
    border: 2px #eee solid;
    color: rgb(92, 129, 207);
    text-align: center;
    padding: 10px;
}

h2 {
    text-align: center;
    padding: 5px;
}

h3 {
    text-align: center;
    padding: 5px;
}

span {
    color: rgb(0, 0, 0);
}

p {
    color: rgb(0, 0, 0);
}

.ip_color {
    color: rgb(11, 97, 54);
}