<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}" />
    <title>Whos visiting?</title>
</head>

<body>
    <h1>Who is visiting?</h1>
    <h2>{{ item['ipAddress'] }}</h2>
    <h3>Virtual Machine: <span class="ip_color">{{ hostname }}</span></h3>
    <p id="nonUniqueVisit">Your first visit! Welcome :) </br></p>
    <p>
        <span id="ipAddress"></span> </br>
        This is your visit count: <span id="counter"></span> </br>
        Browser Info: <span id="browserInfo"></span> </br>
    </p>
    <p id="nonUniqueVisitDiffBrowser"></p></br>
    <script type="text/javascript" src="{{url_for('static', filename='main.js') }}"></script>
    <script>
        var obj = JSON.parse('{{ item | tojson | safe}}');
        document.getElementById('ipAddress').innerHTML = obj.ipAddress;
        document.getElementById('counter').innerHTML = obj.counter;
        document.getElementById('browserInfo').innerHTML = obj.browserInfo;
        if (obj.counter > 1) {
            document.getElementById("nonUniqueVisit").innerHTML = "Welcome again!"
        }
        if (getCookie('visitCount') == null){
            document.getElementById("nonUniqueVisitDiffBrowser").innerHTML = "You are visiting from a different browser!"
            createCookie('visitCount','1','')
        }
        else {
            var cookieValue = Number(getCookie('visitCount'))
            cookieVaule = cookieValue++
            createCookie('visitCount', cookieValue, '')
        }
    </script>
</body>

</html>